@import url('global.css');

/* Variables */
:root{
    /* Colors */
    --background-floating: #383636; 
}

body{
    background-color: var(--background-color);
}
/* Barra lateral de opciones en el juego */
.sidebar{
    display: grid;
    grid-template-rows: 44px 44px 44px 24px 24px;
    gap: 30px;
    align-items: center;
    justify-content: center;
    height: 660px;
    width: 120px;
    background-color: var(--background-color);
    position: absolute; /* Changed to absolute for fixed positioning */
    top: 0;
    right: 0;
    color: black;
    padding-top: 20px;
    z-index: 2;
}

/* Botones x4, x6, x8 */
.sidebar p{
    margin: 0%;
    padding: 0%;
    background-color: var(--primary-color);
    border-radius: 100%;
    padding: 12px;
    font-family: 'Exo 2', sans-serif;
    cursor: pointer;

}

/* Boton presionado */
.level-active {
    /* border: solid 1px #FFE500; */
    box-shadow:0px 0px 5px 3px var(--acento-color);
}

/* Icono instrucciones y ayuda */
.sidebar svg{
    margin: 0%;
    padding: 0%;
    fill: #FFFFFF;
    margin-left: 7px;
    cursor: pointer;
}

/* Icono presionado */
.sidebar svg.op-active{
    fill: var(--acento-color);
}

/* Propiedades compartidas en instructiones y ayuda */
.instructions , .help{
    display: grid;
    position:absolute;
    top:10px;
    gap: 17px;
    background-color: var(--background-floating);
    box-shadow: 0px 0px 45px 2px #FFFFFF;
    border-radius: 12px;
    padding-top: 15px;
    z-index: 9999;
}

/* Activar flotantes */
.visibility-flotante{
    display: grid;
}

/* "Ayuda" para blocka */
.help{
    grid-template-rows: 10px 34px 30px 45px 30px 25px 62px auto;
    width: 800px;
    height: 410px;
    /* COMENTAR !!!!!!!!!!!!!!!!!!!!!! */
    margin: 40px;
}

.help .instructions-title.ayudin{
    margin-top: 10px;
}

.container-cruz{
    text-align: end;
}

.container-cruz svg{
    margin-right: 10px;
    cursor: pointer;
}

/* Intrucciones de la blocka */
.instructions{
    grid-template-rows: 32px 30px 95px 30px 75px 30px 120px 50px 32px;
    width: 800px;
    height: 655px;
    /* COMENTAR !!!!!!!!!!!!!!!!!!!!!! */
    margin: 40px;
}

/* Cuerpo de info de ambos flotantes */
.instructions-title{
    color: #FFFFFF;
    font-family: 'Jockey One', sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 0px;
    padding: 0px;
}

.instructions-subtitle{
    color: #FFFFFF;
    font-family: 'Exo 2', sans-serif;
    font-size: 26px;
    display: flex;
    align-items: start;
    margin: 0px 0px 0px 15px;
    padding: 0px;
}

.instructions-text{
    color: #FFFFFF;
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    display: flex;
    align-items: start;
    margin: 0px 0px 0px 15px;
    padding: 0px;
    width: 750px;
    height: auto;
}

/* !!!!!!!!!!! CAMBIAR NOMBRE A BTN_START */
/* Btn "comenzar" el juego y "siguiente" nivel */
.btn-primary-big, .next-level{
    color: #000000;
    height: 59px;
    background-color:var(--primary-color);
    font-family: 'Khula', sans-serif;
    font-size: 22px;
    font-weight: 600;
    padding: 12px 24px 12px 24px;
    border-radius: 10px;
    box-shadow: 0 0 4px 0 var(--primary-color-700);
}

.btn-primary-big{
    width: 146px;
}

.btn-container-help{
    text-align: center;
    padding: 0px;
    margin-top: 10px;
}

.btn-accept{
    color: #FFFFFF;
    border: solid 1px #FFFFFF;
    border-radius: 4px;
    padding: 6px 18px 6px 18px;
    font-family: 'Khula', sans-serif;
    font-size: 16px;
    height: 38px;
    width: 90px;
    margin: 0px;

}
.next-level svg{
    padding: 0px;
    margin: 0px;
}

B

/*Como jugar*/
.btn-controls svg {
    fill: #FFFFFF;
}
/*Seccion de nivel finalizado*/
.finished-level{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-floating);
    box-shadow: 0px 0px 45px 2px #FFFFFF;
    border-radius: 12px;
    padding: 40px;
    display: grid;
    gap: 20px;
    justify-items: center;
    align-items: center;
}

.deselected{
    display: none;
}

